{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Tracking Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Student Movement Tracking</h1>

      <div class="student-list">
        <h2>Registered Students</h2>
        <table>
          <thead>
            <tr>
              <th>Student ID</th>
              <th>Name</th>
              <th>RFID Tag</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
            <tr>
              <td>{{ student.student_Id }}</td>
              <td>{{ student.Name }}</td>
              <td><a href="">{{ student.rfid_Tag }}</a></td>
              <td>
                <a href="">Check-In/Out</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
